.about-text-migration {
    margin: 20px;
    line-height: 2;
    font-weight: 700;
}

.documents {
    min-height: 600px;
    padding: 30px 0;
    background: linear-gradient(90deg, #b8aeca 0%, #8990f7 100%); 
    /*background: url('../img/Back_new.png') center (center / cover) no-repeat;*/
    a {
        color: #0e28a5;
    }
}

.subtitle_migration {
    font-size: 20px;
}

