.risk-text {
    padding-top: 30px;
    color: white;
    .red {
        color: #f93b3bf5;
        font-weight: bold;
    }
    .about_subtitle {
        text-align: center;
        font-size: 24px;
        color: white;
    }
}

.foreign_about-text {
    margin-top: 40px;
}

.risk {
    min-height: 300px;
    padding-top: 30px;
    /* background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%); */
    background: url('../img/Back_new.png') center (center / cover) no-repeat;
}

.advantages-foreign {
    min-height: 300px;
    padding-top: 30px;
    color: black;
    
}

.advantages_wrapper {
    display: flex;
    justify-content: space-between;

}

.foreign_descr {
    margin-left: 30px;
    margin-top: 30px;
}

.process {
    min-height: 230px;
    padding-top: 40px; 
    ol {
        padding-top: 30px;
    }
}

.role {
    min-height: 200px;
    padding: 30px 0;
    /* background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%); */
    background: linear-gradient(90deg, #b8aeca 0%, #8990f7 100%);
    &_wrapper {
        padding-top: 20px;
    }
    h3 {
        text-align: center;
    }
}